
RewriteEngine On
RewriteBase /ttqc/admin/
RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /ttqc/admin/index.php/?$1 [L]
