
RewriteEngine On
RewriteBase /estefania_blog/admin/
RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /estefania_blog/admin/index.php/?$1 [L]
